@media screen and (max-width: 530) {
	#header-menu-links-desktop {
		display: none;
	}
	
	#header-menu-links-mobile {
		display: block;
	}
	
	#header-menu-controlgroup .ui-grid-a {
		text-align:center;
		width: 100%;
	}
	
	#header-menu-controlgroup .ui-block-a {
		text-align: left;
		width: 30%;
	}
	
	#header-menu-controlgroup .ui-block-b {
		text-align: right;
		width: 70%;
	}
}