/* http://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */


/* Phones ----------- */
@media only screen 
and (min-width : 0px)
and (max-width : 530px) {
	#header-menu-links-desktop {
		display: none;
	}
	
	#header-menu-links-mobile {
		display: block;
	}
		
	#header-menu-controlgroup .ui-grid-a {
		text-align:center;
		width: 100%;
	}
	
	#header-menu-controlgroup .ui-block-a {
		text-align: left;
		width: 20%;
	}
	
	#header-menu-controlgroup .ui-block-b {
		text-align: right;
		width: 80%;
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width :531px) {
	#header-menu-links-desktop {
		display: block;
	}
	
	#header-menu-links-mobile {
		display: none;
	}
		
	#header-menu-controlgroup .ui-grid-a {
		text-align:center;
		width: 100%;
	}
	
	#header-menu-controlgroup .ui-block-a {
		text-align: left;
		width: 20%;
	}
	
	#header-menu-controlgroup .ui-block-b {
		text-align: right;
		width: 80%;
	}
}